@import "../../_vars.scss";

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(5px);
  padding: 1rem;
}

.closeButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.inner {
  max-width: 54ch;
  text-align: left;
  position: relative;
}

.info {
  @include typo--body;
  margin-bottom: 2rem;
}

.inner p {
  margin: 0 0 1em 0;
}
