.root {
  max-width: 25rem;
  text-align: left;
}

.root {
  h2,
  h3,
  h4,
  ul,
  ol,
  p {
    margin: 1em 0;
    font-size: 0.625rem;
    line-height: 1.4em;
    letter-spacing: 0.03em;
  }
}

.root section {
  margin: 1em 0;
}
