@import "../../_vars.scss";

.root {
  @include typo--large;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4375rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 2ch;

  @media (orientation: portrait) {
    justify-content: center;
    padding-top: 3.625rem;
  }
}

h1 {
  @include typo--large;
  margin: 0;
}

nav button {
  @include typo--large;
}
