@import "../../_vars.scss";

.root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.6875rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
  @include typo--small;

  @media (orientation: portrait) {
    gap: 0.75rem;
  }
}

hr {
  width: 100%;
  margin: 0;
  box-shadow: none;
  outline: none;
  border: 0.5px solid #fff;
}

.root > div {
  display: flex;
  justify-content: space-between;
}

.root > div:first-child {
  @media (orientation: portrait) {
    flex-direction: column-reverse;
    gap: 1.125rem;
  }
}

.root nav {
  display: flex;
  gap: 2ch;
  align-items: center;

  @media (orientation: portrait) {
    justify-content: center;
  }
}

.root nav a,
.root nav button {
  @include typo--small;
  line-height: 1;
}

.ruler {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 23.5vw;
  margin-bottom: 0.25rem;

  @media (orientation: portrait) {
    width: 100%;
  }
}

.ruler div {
  width: 1px;
  height: 1rem;
  background-color: #fff;
}

.ruler div:nth-child(2n) {
  height: 0.625rem;
}
